| Hi,&nbsp;
b = @attendee.display_name

br/
br/
| You have been invited to YouSound.

br/
br/
| Open the link below on the&nbsp;
b desktop / web&nbsp;
| version to create your account.
br/
b = link_to 'Invitation Link', attendee_invitation_url(nil, @attendee.invitation_token)

br/
br/
| We’re excited to welcome you to the community!

br/
br/
|
  Regards,
  YouSound Team
