files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_swagger_docs.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      cd $EB_CONFIG_APP_ONDECK
      su -c "rake swagger:docs" $EB_CONFIG_APP_USER ||
      echo "Rake task failed to run, skipping swagger docs."
      true